In [6]:
import pandas as pd

In [7]:
#Dataset load 
df = pd.read_csv("../data/raw/stock_prices_data_cleaning.csv")
print("âœ… Dataset Loaded")
print(df.head())
print(df.info())

âœ… Dataset Loaded
  symbol        date      open      high       low     close    volume
0    AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  object
 2   open    497461 non-null  float64
 3   high    497464 non-null  float64
 4   low     497464 non-null  float64
 5   close   497472 non-null  float64
 6   volume  497472 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 26.6+ MB
None

In [8]:
#Standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print("\nðŸ“Œ Standardized Columns:", df.columns)

ðŸ“Œ Standardized Columns: Index(['symbol', 'date', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [9]:
#Check for missing values
print("\nðŸ”Ž Missing Values Before Cleaning:")
print(df.isnull().sum())

ðŸ”Ž Missing Values Before Cleaning:
symbol     0
date       0
open      11
high       8
low        8
close      0
volume     0
dtype: int64

In [11]:
# Example: Fill numeric missing with mean, categorical with mode

for col in df.columns:
    if df[col].dtype in ["float64", "int64"]:
        df[col] = df[col].fillna(df[col].mean())
    elif df[col].dtype == "object":
        df[col] = df[col].fillna(df[col].mode()[0])

In [12]:
print("\nâœ… Missing Values After Cleaning:")
print(df.isnull().sum())

âœ… Missing Values After Cleaning:
symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [13]:
# Remove duplicate rows
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]
print(f"\nðŸ§¹ Removed {before - after} duplicate rows")

ðŸ§¹ Removed 0 duplicate rows

In [14]:
# Step 5: Check duplicates
print("Duplicates:", df.duplicated().sum())

Duplicates: 0

In [15]:
#


# Standardize categorical data (if "stock" column exists)
df["symbol"] = df["symbol"].str.strip().str.upper()  

print(df.head())

  symbol        date      open      high       low     close    volume
0    AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

In [29]:


  
        # Convert date column
df["date"] = pd.to_datetime(df["date"], errors="coerce")

print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  datetime64[ns]
 2   open    497472 non-null  float64
 3   high    497472 non-null  float64
 4   low     497472 non-null  float64
 5   close   497472 non-null  float64
 6   volume  497472 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 26.6+ MB
None
  symbol       date      open      high       low     close    volume
0    AAL 2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL 2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP 2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV 2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC 2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

In [30]:
# Step 8: Clean string columns (example: stock name)
if "stock" in df.columns:
    df["stock"] = df["stock"].str.strip().str.upper()

In [31]:
# Step 9: Drop duplicates
df = df.drop_duplicates()
print(df.head())

  symbol       date      open      high       low     close    volume
0    AAL 2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL 2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP 2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV 2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC 2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

In [25]:
#Verify final dataset
print("\nðŸ“Š Final Dataset Info:")
print(df.info())
print(df.head())

ðŸ“Š Final Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497472 entries, 0 to 497471
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   symbol  497472 non-null  object
 1   date    497472 non-null  object
 2   open    497472 non-null  float64
 3   high    497472 non-null  float64
 4   low     497472 non-null  float64
 5   close   497472 non-null  float64
 6   volume  497472 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 26.6+ MB
None
  symbol        date      open      high       low     close    volume
0    AAL  2014-01-02   25.0700   25.8200   25.0600   25.3600   8998943
1   AAPL  2014-01-02   79.3828   79.5756   78.8601   79.0185  58791957
2    AAP  2014-01-02  110.3600  111.8800  109.2900  109.7400    542711
3   ABBV  2014-01-02   52.1200   52.3300   51.5200   51.9800   4569061
4    ABC  2014-01-02   70.1100   70.2300   69.4800   69.8900   1148391

In [26]:
#Step 10: Final check
print("Missing values after cleaning:\n", df.isnull().sum())
print("Duplicates after cleaning:", df.duplicated().sum())
print(df.dtypes)

Missing values after cleaning:
 symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64
Duplicates after cleaning: 0
symbol     object
date       object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

In [20]:
# Remove rows where 'open', 'high', or 'low' has missing values
df = df.dropna(subset=["open", "high", "low"])

# Final check again
print("Missing values after cleaning:\n", df.isnull().sum())
print("Duplicates after cleaning:", df.duplicated().sum())
print(df.dtypes)

Missing values after cleaning:
 symbol    0
date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64
Duplicates after cleaning: 0
symbol            object
date      datetime64[ns]
open             float64
high             float64
low              float64
close            float64
volume             int64
dtype: object

In [21]:
df.to_csv("../data/processed/stock_prices_cleaned.csv", index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!

In [ ]:
# Load dataset â†’ Confirmed 497,472 rows with 7 columns.
# Standardize column names â†’ Converted to lowercase, underscore format.
# Check missing values â†’ Found some (open: 11, high: 8, low: 8).
# Handle missing values â†’ Filled numerics with mean, categorical with mode â†’ now 0 missing values.
# Remove duplicates â†’ Found none (0 duplicates).
# Convert date column â†’ Converted from object â†’ datetime64[ns].
# Clean string columns (like stock symbols).
# Verify final dataset â†’ No missing values, no duplicates, correct dtypes.
# Extra step â†’ Removed rows where open, high, or low had nulls (ensuring data reliability).
# Final check â†’ Dataset is fully cleaned âœ…