In [29]:
import pandas as pd

In [30]:
#load
df = pd.read_csv("../data/raw/iris.csv")
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [31]:
#Check dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [8]:
#missing values

In [33]:
print(df.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [34]:
#duplicates
print("Duplicates:", df.duplicated().sum())

Duplicates: 3

In [35]:
#unique species values
print(df["species"].unique())

['setosa' 'versicolor' 'virginica']

In [13]:
#Quick statistics
print(df.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [36]:
#Prepare for Machine Learning
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df["species_encoded"] = encoder.fit_transform(df["species"])
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species  \
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

   species_encoded
0                0
1                0
2                0
3                0
4                0

In [38]:
#Split features/labels:

X = df.drop(columns=["species", "species_encoded"])
y = df["species_encoded"]

print(X.head())
print(y.head())

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
0    0
1    0
2    0
3    0
4    0
Name: species_encoded, dtype: int32

In [ ]:
# Check Missing Values

In [40]:
print(df.isnull().sum())
df = df.drop_duplicates()

sepal_length       0
sepal_width        0
petal_length       0
petal_width        0
species            0
species_encoded    0
dtype: int64

In [ ]:
#Check Duplicates

In [41]:
print("Duplicates:", df.duplicated().sum())

Duplicates: 0

In [42]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df.columns)
#Standardize Column Names

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'species_encoded'],
      dtype='object')

In [43]:
print(df.dtypes)

sepal_length       float64
sepal_width        float64
petal_length       float64
petal_width        float64
species             object
species_encoded      int32
dtype: object

In [ ]:
#numeric columns are stored as strings, convert:

In [44]:
df["sepal_length"] = pd.to_numeric(df["sepal_length"], errors="coerce")

In [47]:
#Handle Inconsistent Categories
df["species"] = df["species"].str.strip().str.lower()
print(df["species"].unique())

['setosa' 'versicolor' 'virginica']

In [48]:
#If the task is only cleaning
#Save the cleaned dataset for future use:df.to_csv("../data/processed/iris_clean.csv", index=False)
print("Cleaned dataset saved!")

Cleaned dataset saved!